<div class="home">
  <div class="espacio">{{leyenda}}</div>
  <div>
    <div class="titulo1">
      <h2>Fabricamos productos de calidad para que construyas tu futuro</h2>
    </div><br /><br />
    <div>
      <h3><b>Sobre Nosotros</b></h3><br /><br />
      <div class="frase">
        <p>
          En
          <b>Cerámica Trivento srl</b>
          nos dedicamos a fabricar ladrillos huecos cerámicos, contamos con 25
          años de experiencia en el rubro. Nuestra fábrica cuenta con un horno
          túnel de bajo consumo energético para la producción de productos, un
          secadero de avanzada, que permiten desarrollar productos de alta
          calidad. Nuestra labor diaria está abocada a satisfacer las demandas y
          exigencias de la construcción actual, atender la necesidad constante
          de investigar e innovar en los productos y en la tecnología, para dar
          respuesta al mercado regional y nacional con la máxima excelencia.
          Contamos con un personal experimentado y responsable
        </p>
        <div class="imgFrase"><img src="imgs/imgFrase.jpg" alt="" /></div>
      </div>
    </div>
  </div>
</div>