<div class="login">
  <div class="espacio">{{leyenda}}</div>
  <form action="/login" method="post">
    <input type="text" name="usr" id="usr" placeholder="Usuario" required />
    <input type="password" name="pwd" id="pwd" placeholder="Contraseña" required />
    <input type="submit" id="boton" value="Ingresar" />
    {{mensaje}}
  </form>
</div>