<div class="login">
  <div class="espacio">{{leyenda}}</div>
  <form action="/login" method="post">
    <input type="text" name="usr" id="usr" placeholder="Usuario" required/><br><br>
    <input type="password" name="pwd" id="pwd" placeholder="Contraseña" required/><br><br>
    <input type="submit" id="boton" value="Ingresar" /><br>
    {{mensaje}}
  </form>
</div>