<div class="cargarCv">
  <div class="espacio">{{leyenda}}</div>
  {{#if datos}}
    <p>Archivo subido corectamente</p>
  {{else}}
    <form action="cargarCv" method="post" enctype="multipart/form-data">
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        required
      />
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        required
      />
      <input type="email" name="mail" id="mail" placeholder="Email" required />
      <input type="file" name="archivo" id="archivo" required />
      <input type="submit" value="Cargar cv" name="cargar" id="cargar" />
    </form>
  {{/if}}
</div>